<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Brahmakosh</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>brahmakosh</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.449350149768-vk39rpmam4mph0sprle7uie8okbfe2u5</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GIDClientID</key>
	<string>449350149768-vk39rpmam4mph0sprle7uie8okbfe2u5.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
<string>Brahmakosh uses the camera to allow users to capture profile photos and share images during spiritual consultations and guidance sessions within the app.</string>	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app may use location services to provide better functionality.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
<string>Brahmakosh uses your location to provide personalized spiritual insights, such as astrology-based recommendations and region-specific guidance.</string>	<key>NSMicrophoneUsageDescription</key>
<string>Brahmakosh uses the microphone to enable voice-based spiritual guidance and AI-powered conversations with sages and spiritual teachers.</string>	<key>NSPhotoLibraryAddUsageDescription</key>
<string>Brahmakosh uses the photo library to let users upload images for profile customization and sharing during spiritual discussions.</string>	<key>NSPhotoLibraryUsageDescription</key>
<string>Brahmakosh uses the photo library to let users upload images for profile customization and sharing during spiritual discussions.</string>	<key>NSSpeechRecognitionUsageDescription</key>
<string>Brahmakosh uses speech recognition to convert your voice into text for seamless voice-based interactions and guidance.</string>	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
